{% extends 'base.html' %}

{% block title %}Edit Pesan{% endblock %}

{% block content %}
    <h1>Edit Pesan</h1>

    <form method="POST">
        <div>
            <label for="title">Judul</label>
            <input type="text" id="title" name="title" value="{{ message.title }}" required>
        </div>
        <div>
            <label for="author">Nama</label>
            <input type="text" id="author" name="author" value="{{ message.author }}" required>
        </div>
        <div>
            <label for="body">Isi Pesan</label>
            <textarea id="body" name="body" rows="5" required>{{ message.body }}</textarea>
        </div>
        <button type="submit" class="btn">Simpan</button>
        <a href="{{ url_for('board.home') }}" class="btn btn-secondary">Batal</a>
    </form>
{% endblock %}
